.searchbarComponent{
    display: flex;
    flex-direction: column;
}

.bodyComponent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    padding: 5px;
}

.searchButtonContainer{
    display: flex;
    align-self: flex-end;
}

.searchButton{
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.treeviewComponent{
    width: 50vw;
}

.cardContainer{
    height: 'auto';
    width: 'auto';
    border-radius: 5px;
    background-color: rgb(195, 195, 195);
    margin: 10px
}

.cardInnerContainer{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 10px;
}

.cardPoemContainer {
    display: flex;
    flex-direction: column;
    width: 20vw
}

.content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  